
@import url('https://rsms.me/inter/inter.css');
html, body { font-family: 'Inter', system-ui, sans-serif; width: 100%; }
@supports (font-variation-settings: normal) {
  html, body { font-family: 'Inter var', system-ui, sans-serif; }
}

.childJustifyCenter > div {
  justify-content: center !important;
}

.uppercase {
  text-transform: uppercase;
}

h1, .headingLargest {
  font-size: 28px !important;
}

@media (min-width: 800px) {
  h1, .headingLargest {
    font-size: 48px !important;
  }
}

.blueBorderBottomRight {
  box-shadow: 10px 10px 0px 0px rgba(1,116,226,1);
}

@media (min-width: 800px) {
  .blueBorderBottomRight {
    box-shadow: 20px 20px 0px 0px rgba(1,116,226,1);
  }
}

.blueBorderTopLeft {
  box-shadow: -10px -10px 0px 0px rgba(1,116,226,1);
}

@media (min-width: 800px) {
  .blueBorderTopLeft {
    box-shadow: -20px -20px 0px 0px rgba(1,116,226,1);
  }
}

.navDropdown {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


hr {
  border: 1px solid #ccc;
  display: block;
  background-color: #ccc;
  height: 1px;
  width: 100%;
}


.sub, .sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75% !important;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

.sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

.sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}
