.childJustifyCenter>div {
  justify-content: center !important;
}

.uppercase {
  text-transform: uppercase;
}

h1,
.headingLargest {
  font-size: 28px !important;
}

@media (min-width: 800px) {

  h1,
  .headingLargest {
    font-size: 48px !important;
  }
}

.blueBorderBottomRight {
  box-shadow: 10px 10px 0px 0px rgba(1, 116, 226, 1);
}

@media (min-width: 800px) {
  .blueBorderBottomRight {
    box-shadow: 20px 20px 0px 0px rgba(1, 116, 226, 1);
  }
}

.blueBorderTopLeft {
  box-shadow: -10px -10px 0px 0px rgba(1, 116, 226, 1);
}

@media (min-width: 800px) {
  .blueBorderTopLeft {
    box-shadow: -20px -20px 0px 0px rgba(1, 116, 226, 1);
  }
}

.navDropdown {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


hr {
  border: 1px solid #ccc;
  display: block;
  background-color: #ccc;
  height: 1px;
  width: 100%;
}


.sub,
.sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75% !important;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

.sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

.sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}


.code-text {
  background: #282c34;
  border-radius: 4px;
}

code.text {
  /* background: #282c34; */
  color: #abb2bf;
  width: 100%;
  /* border-radius: 4px; */
  /* padding: 10px !important; */
  overflow-x: scroll;
}


/* Syntax hilighting */
pre.elmsh {
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  overflow: auto;
  width: calc(100% - 20px);
  line-height: 24px;
  font-size: 16px;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}

.elmsh {
  background: #282c34;
  color: #abb2bf;
  width: 100%;
  border-radius: 4px;
}

.elmsh-hl {
  background: rgba(229, 231, 235, 0.1);
}

.elmsh-add {
  background: rgba(40, 124, 82, 0.4);
}

.elmsh-del {
  background: rgba(136, 64, 67, 0.4);
}

.elmsh-strong {
  font-weight: bold;
}

.elmsh-emphasis {
  font-style: italic;
}

.elmsh1 {
  color: #5c6370;
  font-style: italic
}

.elmsh2 {
  color: #98c379;
}

.elmsh3 {
  color: #c678dd;
}

.elmsh4 {
  color: #c678dd;
}

.elmsh5 {
  color: #61aeee;
}

.elmsh6 {
  color: #c678dd;
}

.elmsh7 {
  color: #abb2bf;
}

/* Additions */
.elmsh-elm-c {
  color: #d19a66;
}

.elmsh-elm-n {
  color: #d19a66;
  font-style: normal;
}